# DATABASE CONFIGURATION

# DATABASE
DATABASE=mysql
DB_USER=<database_user> # root
DB_PASSWORD=<database_password> # Password@123
# DB_HOST = (localhost) or (ip_address) or (container_name i.e. postgres)
# DB_HOST=localhost
DB_HOST=<database_host>
DB_PORT=<database_port> # 3306
DB_NAME=<database_name> # fastapi_boilerplate_database


# CORS CONFIGURATION
CORS_ALLOW_ORIGINS=*
CORS_ALLOW_METHODS=*
CORS_ALLOW_HEADERS=*


# JWT CONFIGURATION
ALGORITHM=<jwt_algorithm>
ACCESS_TOKEN_SECRET_KEY=<access_token_secret_key> # Any random string
REFRESH_TOKEN_SECRET_KEY=<refresh_token_secret_key> # Any random string


# SUPER ADMIN CONFIGURATION
SUPERUSER_NAME=<super_user_first_name> # Admin
SUPERUSER_USERNAME=<super_user_username> # admin
SUPERUSER_EMAIL=<super_user_email> # admin@email.com
SUPERUSER_PASSWORD=<super_user_password> # Admin@123
SUPERUSER_ROLE=<super_user_role> # admin
SUPERUSER_ROLE_DESCRIPTION=<super_user_role_description> # Admin Role Description

# -----------------------------------------------------------------------------
